<div class="row ">


    <div class="col-lg-2 col-sm-4 bg-white mt-4">
        <label class="mt-5">
            Generation
        </label>
        <select class="form-select mt-1" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

        <nav class="navbar navbar-expand-lg navbar-light bg-light mt-2">
            <div>
                <div class="row">

                    <button class="navbar-toggler border-0 col-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon  text-end">
                            <img src="../../../assets/images/plus-icon.png" class="w-100" srcset="">
                        </span>
                    </button>
                    <span class="navbar-toggler border-0 col-10">
                        <h4>Choose your pokemon! </h4>

                    </span>
                </div>


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  flex-column m-auto mb-2 mb-lg-0">
                        <li class="nav-item p-1 " *ngFor="let pokemon of listPokemons; index as idPokemon">
                            <a href="#" class="list-group-item list-group-item-action" (click)="modifyValue(idPokemon+1)">{{pokemon.name | titlecase}}</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>

    
    <app-pokemon-card [numberPokemon]="listPokemons" [idPokemon]="(idPokemon$ | async) || 0"
        class=" col-lg-10  col-sm-8 bg-danger"></app-pokemon-card>

</div>